@import "../globalstyle/variables.scss";

.rocket {
  min-height: 400px;
  width: 100%;
  background-color: aqua;
  position: relative;
  transition: min-height 2s, background-color 4s;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.animated {
  min-height: 600px;
  background-color: #305f72;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.mainSkills {
  // min-height: 100vh;
  background-color: red;
}

.insideSkill {
  height: 90%;
  width: 95%;
  background: rgb(43, 49, 55);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px 10px 10px 10px;
}

.aboutskills {
  flex: 1;
  width: 100%;
  // background-color: none;
  margin: 10px 10px 10px 10px;
  padding: 10px 20px 47px 20px;
  opacity: 0;
  //trabs starts
  // -webkit-transition: 5s all ease-in-out;
  // -moz-transition: 5s all ease-in-out;
  // -o-transition: 5s all ease-in-out;
  // transition: 5s all ease-in-out;

  p {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    color: antiquewhite;
    line-height: 1.6em;
  }

  span {
    color: white;
    font-size: 1.4em;
    font-weight: bold;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    transition: color 1s, font-size 1s;
  }

  span::after {
    content: " ";
    // width: 100%;
    background-color: black;
    display: block;
    height: 4px;
    margin: 15px 44px 22px 0px;
    width: 70%;
    border-radius: 10px 10px 10px 10px;
    transition: width 2s;
  }
}

.skillsImage {
  border-radius: 10px 10px 0px 0px;
  height: 80%;
  width: 100%;
  background-color: #ff22;
  background: url("../images/blog.jpg") no-repeat center/cover;
  // background-repeat: no-repeat;
}

.skillsContainer {
  display: none;
  opacity: 0;
  min-height: 350px;
  background-color: none;
  position: relative;
  margin: 10px 10px 10px 10px;
  width: 350px;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  @include breakpoint(mdu) {
    width: 20%;
    min-height: 500px;
  }
  transition: display 5s, opacity 2s, 0.3s;
  // transition-duration: 10s;
}

.skilladdon {
  display: flex;
  opacity: 1;
}

.skillsContainer:hover {
  transform: scale(1.09);
  span::after {
    width: 100%;
  }
}

.skillsContainer span:hover {
  color: rgb(0, 146, 219);
  font-size: 1.63em;
}

.aboutactive {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 2s;
}
@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.projectName {
  font-size: 2em;
  color: white;
  font-family: $kanit;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
