h1{
  text-align: center;
}
.bounceme{
  height: 36rem;
  width: 22em;
color: white;
animation: bounce 3s linear infinite;
}
@keyframes bounce {
  0%{
    transform: translateY(-20px);
  }
  50%{
    transform: translateY(20px);
  }
  100%{
    transform: translateY(-20px);
  }
  
}

.content_wrapper{
  flex: 1;
}
