@import "../globalstyle/variables.scss"; 


.footer_container{
    height: 800px;
    width: 100%;
    background-color: $bodycolor;
    display: flex;
    align-items: center;
    justify-content: center;
}
